<ion-content>
  <div class="cover">
    <img src="/assets/images/banner.jpg" alt="">
  </div>
  <ion-card class="brand">
    <ion-card-header>
      <div class="language">
        <ion-card-title>
          Hotel
        </ion-card-title>
        <!-- <ion-chip (click)="openLanguages($event)" *ngIf="currentLanguage">
          <ion-icon name="globe"></ion-icon>
          <ion-label>{{ currentLanguage.name }}</ion-label>
        </ion-chip> -->
      </div>
      <ion-card-subtitle>
        <ion-icon name="location-sharp"></ion-icon>
        San Martin 820
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <form>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ 'section.personal_info' | translate }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">
            {{ 'form.first_name' | translate }}
          </ion-label>
          <ion-input name="first_name" type="text" enterkeyhint="next"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            {{ 'form.last_name' | translate }}
          </ion-label>
          <ion-input name="last_name" type="text" enterkeyhint="next"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>