:host {
  .startup {
    margin: 32px auto;
    max-width: 600px;
  }

  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  .flash {
    animation-name: flash;
  }

  .animate {
    transform-origin: center bottom;
    // animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  section.wrapper {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    min-height: 100%;
    margin: auto;
    max-width: 600px;
    padding-bottom: 32px;
  }
  .cover {
    position: relative;
    background-color: #000;
    &:after {
      bottom: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    img {
      display: flex;
    }
  }
  .brand {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    margin: -20px 0;
    // transform: translate3d(0, -20px, 0);
    div.language {
      display: flex;
      flex-direction: row;
    }
    ion-card-title {
      flex: 1;
    }
  }
  form {
    ion-card-header {
      padding-bottom: 8px;
    }
    ion-card-title {
      font-size: 20px;
    }
    ion-list-header {
      font-size: 18px;
      margin-top: 32px;
      padding-left: 0;
    }
    ion-item {
      --padding-start: 0;
    }
    ion-card-content.footer {
      display: flex;
      padding-top: 0;
      .end {
        justify-self: flex-end;
        margin-left: auto;
      }
    }
  }
  .success {
    text-align: center;
    ion-card-title {
      font-size: 20px;
    }
    ion-icon {
      margin: 20px auto 0;
      display: block;
      font-size: 60px;
    }
  }
}
