<ion-content>
  <section class="startup ion-text-center" *ngIf="!language">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="flash" [ngClass]="{ 'animate': welcomeMessageAnimate }">
          {{ welcomeMessage }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full" inset="true">
          <ion-item *ngFor="let language of languages" button (click)="setLanguage(language)">
            {{ language.name }}
          </ion-item>
          <ion-spinner *ngIf="!languages"></ion-spinner>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </section>
  <section class="wrapper" *ngIf="language">
    <div class="cover" *ngIf="configuration?.background_image">
      <img [src]="configuration?.background_image?.data?.full_url" [alt]="configuration?.name">
      <ion-fab horizontal="end" vertical="bottom" slot="fixed" edge>
        <!-- <ion-fab-button (click)="openMap()"> -->
        <ion-fab-button color="light" (click)="moreOptions()">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <ion-card class="brand">
      <ion-card-header>
        <div class="language">
          <ion-card-title>
            {{ configuration?.name }}
          </ion-card-title>
          <!-- <ion-chip (click)="openLanguages($event)" *ngIf="currentLanguage">
            <ion-icon name="globe"></ion-icon>
            <ion-label class="ion-text-wrap">{{ currentLanguage.name }}</ion-label>
          </ion-chip> -->
        </div>
        <ion-card-subtitle *ngIf="configuration?.short_address">
          <ion-icon name="location-sharp"></ion-icon>
          {{ configuration?.short_address }}
        </ion-card-subtitle>
      </ion-card-header>
      <!-- Va en el modal -->
      <!--  -->
    </ion-card>
    <form [formGroup]="form">
      <!-- step terms -->
      <ion-card *ngIf="step === 0">
        <ion-card-header>
          <ion-card-title>
            {{ 'section.terms_conditions' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="configuration?.general_info">
          <div class="wyswyg" [innerHTML]="configuration?.general_info"></div>
        </ion-card-content>
        <ion-card-content class="footer">
          <ion-button class="end" size="small" (click)="nextStep()">
            {{ 'form.accept' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <!-- step 1 -->
      <ion-card *ngIf="step === 1">
        <ion-card-header>
          <ion-card-title>
            {{ 'steps.main_guest' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content formArrayName="guests">
          <!-- first name -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.first_name' | translate }}
            </ion-label>
            <ion-input formControlName="first_name" name="first_name" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- last name -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.last_name' | translate }}
            </ion-label>
            <ion-input formControlName="last_name" name="last_name" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- document type -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.document_type' | translate }}
            </ion-label>

            <ion-select interface="popover" formControlName="id_type">
              <ion-select-option value="id">{{ 'form.document_id' | translate }}</ion-select-option>
              <ion-select-option value="passport">{{ 'form.document_passport' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- document number -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.document_number' | translate }}
            </ion-label>
            <ion-input formControlName="id_number" name="document_id" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- birthday -->
          <!-- TODO: date -->
          <!-- TODO: de hoy para atrás -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.birthday' | translate }}
            </ion-label>
            <ion-datetime formControlName="birthdate" name="birthday" displayFormat="DD MMMM YYYY"
              [cancelText]="'form.cancel' | translate" [doneText]="'form.done' | translate"
              [monthNames]="'months.names' | translate">
            </ion-datetime>
          </ion-item>
          <!-- nationality -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.nationality' | translate }}
            </ion-label>
            <ion-input formControlName="nationality" name="nationality" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- gender -->
          <!-- selector Male/Female/Transgender/Bigender/Non-binary/Other -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.gender' | translate }}
            </ion-label>
            <ion-select interface="popover" formControlName="gender" name="gender">
              <ion-select-option value="male">{{ 'form.genders.male' | translate }}</ion-select-option>
              <ion-select-option value="female">{{ 'form.genders.female' | translate }}</ion-select-option>
              <ion-select-option value="transgender">{{ 'form.genders.transgender' | translate }}</ion-select-option>
              <ion-select-option value="bigender">{{ 'form.genders.bigender' | translate }}</ion-select-option>
              <ion-select-option value="non_binary">{{ 'form.genders.non_binary' | translate }}</ion-select-option>
              <ion-select-option value="other">{{ 'form.genders.other' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- marital status -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.marital_status' | translate }}
            </ion-label>
            <ion-select interface="popover" formControlName="marital_status" name="marital_status">
              <ion-select-option value="single">{{ 'form.marital_status_options.single' | translate }}
              </ion-select-option>
              <ion-select-option value="married">{{ 'form.marital_status_options.married' | translate }}
              </ion-select-option>
              <ion-select-option value="separated">{{ 'form.marital_status_options.separated' | translate }}
              </ion-select-option>
              <ion-select-option value="divorced">{{ 'form.marital_status_options.divorced' | translate }}
              </ion-select-option>
              <ion-select-option value="widower">{{ 'form.marital_status_options.widower' | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- profression -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.profression' | translate }}
            </ion-label>
            <ion-input formControlName="profession" name="profression" enterkeyhint="next"></ion-input>
          </ion-item>
          <ion-list-header>
            {{ 'section.main_guest.contact' | translate }}
          </ion-list-header>
          <!-- email -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.email' | translate }}
            </ion-label>
            <ion-input formControlName="email" name="email" type="email" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- phone -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.phone' | translate }}
            </ion-label>
            <ion-input formControlName="phone" name="phone" type="tel" enterkeyhint="next"></ion-input>
          </ion-item>
          <ion-list-header>
            {{ 'section.main_guest.additional' | translate }}
          </ion-list-header>
          <!-- country -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.country' | translate }}
            </ion-label>
            <ion-input formControlName="country" name="country" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- TODO: Autocompletar con google maps, y buscar provincia y ciudad -->
          <!-- Address -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.address' | translate }}
            </ion-label>
            <ion-input formControlName="address" name="address" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <!-- zip code -->
          <ion-item [formGroupName]="0">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.zip_code' | translate }}
            </ion-label>
            <ion-input formControlName="zip_code" name="zip_code" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
          <ion-list-header>
            {{ 'form.documents_required' | translate }}
          </ion-list-header>
          <!-- documento frente -->
          <ion-item>
            <ion-label position="stacked">
              <h3>
                {{ 'form.document_front' | translate }}
              </h3>
              <ion-input name="document_front" type="file" accept="image/*" (change)="updateImage($event, 0)"
                enterkeyhint="next"></ion-input>
              <img *ngIf="form.value.guests[0]?.document_front?.data"
                [src]="form.value.guests[0]?.document_front?.data?.full_url" [alt]="'form.document_front' | translate">
            </ion-label>
          </ion-item>
          <!-- documento atras -->
          <ion-item>
            <ion-label position="stacked">
              <h3>
                {{ 'form.document_back' | translate }}
              </h3>
              <ion-input name="document_back" type="file" accept="image/*" (change)="updateImage($event, 0)"
                enterkeyhint="next"></ion-input>
              <img *ngIf="form.value.guests[0]?.document_back?.data"
                [src]="form.value.guests[0]?.document_back?.data?.full_url" [alt]="'form.document_back' | translate">
            </ion-label>
          </ion-item>
          <!-- firma -->
          <ion-item ion-button (click)="openSignatureModal(0)">
            <ion-label>
              <h3>
                {{ 'form.signature' | translate }}
              </h3>
              <img *ngIf="form.value.guests[0]?.signature?.data" [src]="form.value.guests[0]?.signature?.data?.full_url"
                [alt]="'form.signature' | translate">
            </ion-label>
          </ion-item>
        </ion-card-content>
        <ion-card-content class="footer">
          <ion-button fill="clear" size="small" (click)="prevStep()">
            {{ 'form.previous' | translate }}
          </ion-button>
          <ion-button class="end" size="small" (click)="nextStep()">
            {{ 'form.next' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <!-- step 2 -->
      <ion-card *ngIf="step === 2">
        <ion-card-header>
          <ion-card-title>
            {{ 'steps.additional_guests' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content formArrayName="guests">
          <ng-container *ngFor="let guest of additional_guests | slice:1; let i = index;">
            <ion-list-header>
              {{ 'section.additional_guests.guest_info' | translate: { number: (i + 2) } }}
            </ion-list-header>
            <!-- first name -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.first_name' | translate }}
              </ion-label>
              <ion-input formControlName="first_name" name="first_name" type="text" enterkeyhint="next"></ion-input>
            </ion-item>
            <!-- last name -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.last_name' | translate }}
              </ion-label>
              <ion-input formControlName="last_name" name="last_name" type="text" enterkeyhint="next"></ion-input>
            </ion-item>
            <!-- document type -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.document_type' | translate }}
              </ion-label>

              <ion-select interface="popover" formControlName="id_type">
                <ion-select-option value="id">{{ 'form.document_id' | translate }}</ion-select-option>
                <ion-select-option value="passport">{{ 'form.document_passport' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- document number -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.document_number' | translate }}
              </ion-label>
              <ion-input formControlName="id_number" name="document_id" type="text" enterkeyhint="next"></ion-input>
            </ion-item>
            <!-- birthday -->
            <!-- TODO: date -->
            <!-- TODO: de hoy para atrás -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.birthday' | translate }}
              </ion-label>
              <ion-datetime formControlName="birthdate" name="birthday" displayFormat="DD MMMM YYYY"
                [cancelText]="'form.cancel' | translate" [doneText]="'form.done' | translate"
                [monthNames]="'months.names' | translate">
              </ion-datetime>
            </ion-item>
            <!-- email -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.email' | translate }}
              </ion-label>
              <ion-input formControlName="email" name="email" type="email" enterkeyhint="next"></ion-input>
            </ion-item>
            <!-- phone -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.phone' | translate }}
              </ion-label>
              <ion-input formControlName="phone" name="phone" type="tel" enterkeyhint="next"></ion-input>
            </ion-item>
            <!-- gender -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.gender' | translate }}
              </ion-label>
              <ion-select interface="popover" formControlName="gender" name="gender">
                <ion-select-option value="male">{{ 'form.genders.male' | translate }}</ion-select-option>
                <ion-select-option value="female">{{ 'form.genders.female' | translate }}</ion-select-option>
                <ion-select-option value="transgender">{{ 'form.genders.transgender' | translate }}</ion-select-option>
                <ion-select-option value="bigender">{{ 'form.genders.bigender' | translate }}</ion-select-option>
                <ion-select-option value="non_binary">{{ 'form.genders.non_binary' | translate }}</ion-select-option>
                <ion-select-option value="other">{{ 'form.genders.other' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- marital status -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.marital_status' | translate }}
              </ion-label>
              <ion-select interface="popover" formControlName="marital_status" name="marital_status">
                <ion-select-option value="single">{{ 'form.marital_status_options.single' | translate }}
                </ion-select-option>
                <ion-select-option value="married">{{ 'form.marital_status_options.married' | translate }}
                </ion-select-option>
                <ion-select-option value="separated">{{ 'form.marital_status_options.separated' | translate }}
                </ion-select-option>
                <ion-select-option value="divorced">{{ 'form.marital_status_options.divorced' | translate }}
                </ion-select-option>
                <ion-select-option value="widower">{{ 'form.marital_status_options.widower' | translate }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <!-- profression -->
            <ion-item [formGroupName]="i + 1">
              <ion-label position="floating" class="ion-text-wrap">
                {{ 'form.profression' | translate }}
              </ion-label>
              <ion-input formControlName="profession" name="profression" enterkeyhint="next"></ion-input>
            </ion-item>
          </ng-container>
        </ion-card-content>
        <ion-card-content class="footer">
          <ion-button fill="clear" size="small" (click)="prevStep()">
            {{ 'form.previous' | translate }}
          </ion-button>
          <ion-button class="end" size="small" (click)="nextStep()">
            {{ 'form.next' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <!-- step 3 -->
      <ion-card *ngIf="step === 3">
        <ion-card-header>
          <ion-card-title>
            {{ 'steps.trip_reasons' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- travel_purpose -->
          <!-- TODO: action sheet: Turism / Job / Other -->
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.visiting_purpose' | translate }}
            </ion-label>

            <ion-select interface="popover" formControlName="visiting_purpose" name="visiting_purpose">
              <ion-select-option value="turism">{{ 'form.visiting_purpose_options.turism' | translate }}
              </ion-select-option>
              <ion-select-option value="job">{{ 'form.visiting_purpose_options.job' | translate }}</ion-select-option>
              <ion-select-option value="other">{{ 'form.visiting_purpose_options.other' | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- arrival_details -->
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.arrival_details' | translate }}
            </ion-label>

            <ion-select interface="popover" formControlName="arrived_by" name="arrival_details">
              <ion-select-option value="own_vehicle">{{ 'form.arrival_details_options.own_vehicle' | translate }}
              </ion-select-option>
              <ion-select-option value="plane">{{ 'form.arrival_details_options.plane' | translate }}
              </ion-select-option>
              <ion-select-option value="ship">{{ 'form.arrival_details_options.ship' | translate }}</ion-select-option>
              <ion-select-option value="bus">{{ 'form.arrival_details_options.bus' | translate }}</ion-select-option>
              <ion-select-option value="other">{{ 'form.arrival_details_options.other' | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- arrival_details_comments. -->
          <ion-item *ngIf="form.value.arrived_by">
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.arrival_details_comments.' + form.value.arrived_by | translate }}
            </ion-label>
            <ion-input formControlName="arrived_by_comments" name="arrival_details" type="text" enterkeyhint="next">
            </ion-input>
          </ion-item>
          <!-- last_city_visited -->
          <ion-item>
            <ion-label position="floating" class="ion-text-wrap">
              {{ 'form.last_city_visited' | translate }}
            </ion-label>
            <ion-input name="last_city_visited" type="text" enterkeyhint="next"></ion-input>
          </ion-item>
        </ion-card-content>
        <ion-card-content class="footer">
          <ion-button fill="clear" size="small" (click)="prevStep()">
            {{ 'form.previous' | translate }}
          </ion-button>
          <ion-button class="end" size="small" (click)="nextStep()">
            {{ 'form.next' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
      <!-- step 4 -->
      <ion-card *ngIf="step === 4">
        <ion-card-header>
          <ion-card-title>
            {{ 'steps.guests_health_declaration' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div *ngFor="let guest of additional_guests; let i = index;">
            <ion-list-header>
              {{ 'section.additional_guests.guest_info' | translate: { number: (i + 1) } }}
            </ion-list-header>
            <ion-item *ngFor="let entry of healthDeclaration">
              <ion-label class="ion-text-wrap">{{entry.label}}</ion-label>
              <ion-checkbox mode="md" slot="end"></ion-checkbox>
            </ion-item>
            <!-- cities_last_weeks -->
            <ion-item>
              <ion-label position="stacked" class="ion-text-wrap">
                {{ 'health_declaration.cities_last_weeks' | translate }}
              </ion-label>
              <ion-textarea name="cities_last_weeks" enterkeyhint="next"></ion-textarea>
            </ion-item>
          </div>
        </ion-card-content>
        <ion-card-content class="footer">
          <ion-button fill="clear" size="small" (click)="prevStep()">
            {{ 'form.previous' | translate }}
          </ion-button>
          <ion-button class="end" size="small" (click)="completeSteps()">
            {{ 'form.finish' | translate }}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </section>
</ion-content>
<!-- 
  TODO:
  - Documents ID pickers
  - Additional persons
 -->