:host {
  .startup {
    margin: 32px auto;
    max-width: 600px;
  }

  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  .flash {
    animation-name: flash;
  }

  .flash {
    // animation: infinite flash 2s;
    // transform-origin: center bottom;
    // animation-duration: 2s; /* don't forget to set a duration! */
  }
  section.wrapper {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    margin: auto;
    max-width: 600px;
    padding-bottom: 32px;
  }
  .cover {
    position: relative;
    background-color: #000;
    &:after {
      bottom: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    img {
      display: flex;
    }
  }
  .brand {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    margin: -20px 0;
    // transform: translate3d(0, -20px, 0);
    div.language {
      display: flex;
      flex-direction: row;
    }
    ion-card-title {
      flex: 1;
    }
  }
  form {
    ion-card-header {
      padding-bottom: 0;
    }
    ion-card-title {
      font-size: 20px;
    }
    ion-item {
      --padding-start: 0;
    }
  }
}
